<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar') %>
    <h1>Create new Hotel</h1>

    <form action="/hotels" method="post">
        <label for="hotelName">Hotel Name:</label>
        <input id="hotelName" name="hotelName"  type="text">

        <label for="">Stars:</label>
        <input name="stars" type="text">

        <label for="">City:</label>
        <input name="city" type="text">

        <button>Submit</button>
    </form>
    

</body>
</html>